USE [master]
GO
/****** Object:  Database [BabiesRecordsManagementSystem]    Script Date: 11/23/2015 01:11:30 ******/
CREATE DATABASE [BabiesRecordsManagementSystem] ON  PRIMARY 
( NAME = N'BabiesRecordsManagementSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MANOJ\MSSQL\DATA\BabiesRecordsManagementSystem.mdf' , SIZE = 12288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BabiesRecordsManagementSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MANOJ\MSSQL\DATA\BabiesRecordsManagementSystem_log.ldf' , SIZE = 164672KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BabiesRecordsManagementSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BabiesRecordsManagementSystem]
GO
/****** Object:  Table [dbo].[Babies]    Script Date: 11/23/2015 01:11:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Babies](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](500) NOT NULL,
	[Gender] [char](1) NOT NULL,
	[Position] [bigint] NOT NULL,
	[Rank] [bigint] NOT NULL,
	[Year] [int] NOT NULL,
 CONSTRAINT [PK_Babies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Babies] ON
INSERT [dbo].[Babies] ([Id], [Name], [Gender], [Position], [Rank], [Year]) VALUES (1, N'testing_Name', N'Y', 1, 12, 1232)
INSERT [dbo].[Babies] ([Id], [Name], [Gender], [Position], [Rank], [Year]) VALUES (2, N'MARGARET', N'Y', 341, 1, 1944)
INSERT [dbo].[Babies] ([Id], [Name], [Gender], [Position], [Rank], [Year]) VALUES (3, N'HELEN', N'Y', 209, 2, 1944)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
GO
print 'Processed 2000 total records'
GO
print 'Processed 2100 total records'
GO
print 'Processed 2200 total records'
GO
print 'Processed 2300 total records'
GO
print 'Processed 2400 total records'
GO
print 'Processed 2500 total records'
GO
print 'Processed 2600 total records'
GO
print 'Processed 2700 total records'
GO
print 'Processed 2800 total records'
GO
print 'Processed 2900 total records'
GO
print 'Processed 3000 total records'
GO
print 'Processed 3100 total records'
GO
print 'Processed 3200 total records'
GO
print 'Processed 3300 total records'
GO
print 'Processed 3400 total records'
GO
print 'Processed 3500 total records'
GO
print 'Processed 3600 total records'
GO
print 'Processed 3700 total records'
GO
print 'Processed 3800 total records'
GO
print 'Processed 3900 total records'
GO
print 'Processed 4000 total records'
GO
print 'Processed 4100 total records'
GO
print 'Processed 4200 total records'
GO
print 'Processed 4300 total records'
GO
print 'Processed 4400 total records'
GO
print 'Processed 4500 total records'
GO
print 'Processed 4600 total records'
GO
print 'Processed 4700 total records'
GO
print 'Processed 4800 total records'
GO
print 'Processed 4900 total records'
GO
print 'Processed 5000 total records'
GO
print 'Processed 5100 total records'
GO
print 'Processed 5200 total records'
GO
print 'Processed 5300 total records'
GO
print 'Processed 5400 total records'
GO
print 'Processed 5500 total records'
GO
print 'Processed 5600 total records'
GO
print 'Processed 5700 total records'
GO
print 'Processed 5800 total records'
GO
print 'Processed 5900 total records'
GO
print 'Processed 6000 total records'
GO
print 'Processed 6100 total records'
GO
print 'Processed 6200 total records'
GO
print 'Processed 6300 total records'
GO
print 'Processed 6400 total records'
GO
print 'Processed 6500 total records'
GO
print 'Processed 6600 total records'
SET IDENTITY_INSERT [dbo].[Babies] OFF
/****** Object:  StoredProcedure [dbo].[PSP_BabiesRanking_Get]    Script Date: 11/23/2015 01:11:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PSP_BabiesRanking_Get]-- 'JOY',1940,2013
(
	@Name VARCHAR(500),
	@YearFrom BIGINT,
	@YearTo BIGINT ,
	@Gender CHAR(1)
)
AS
BEGIN
	 
	SET NOCOUNT ON;
	
	SELECT DISTINCT 
       MAX([RANK]) AS [RANK],
       [Year]
  FROM [dbo].[Babies] 
  WHERE 
  Name LIKE '%'+@Name+'%' AND
  [Year] BETWEEN @YearFrom AND @YearTo AND
  (@Gender IS NULL OR Gender = @Gender)
  GROUP BY [Year] 
  ORDER BY [Year]
     
END
GO
/****** Object:  StoredProcedure [dbo].[PSP_Babies_Save]    Script Date: 11/23/2015 01:11:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PSP_Babies_Save]
(
	@Name VARCHAR(500),
	@Gender CHAR(1),
	@Position	BIGINT,
	@Rank	BIGINT,
	@Year INT
)
AS
BEGIN
 
	SET NOCOUNT ON;
 
	INSERT INTO Babies
	(
		Name
		,Gender
		,Position
		,[Rank]
		,[Year]
	)
	VALUES
	(
		@Name,
		@Gender,
		@Position,
		@Rank,	
		@Year 
	)
     
END
GO
/****** Object:  StoredProcedure [dbo].[PSP_Babies_Get]    Script Date: 11/23/2015 01:11:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PSP_Babies_Get]
(
	@Top INT = 1000000,
	@SortingDirection VARCHAR(1),
	@Name VARCHAR(500),
	@Gender VARCHAR(1),
	@Year INT,
	@Rank BIGINT
)
AS
BEGIN
 
	SET NOCOUNT ON;
	
	SELECT TOP (@Top) 
	Name
	,CASE WHEN Gender = 'Y' THEN 'Female' ELSE 'Male' END AS Gender
	,Position
	,[Rank]
	,[Year]
	FROM dbo.Babies
	WHERE
		(@Name IS NULL OR Name LIKE '%'+@Name+'%')
		AND (@Gender IS NULL OR Gender = @Gender)
		AND (@Year IS NULL OR [Year] = @Year)
		AND (@Rank IS NULL OR [Rank] = @Rank)
	ORDER BY CASE WHEN @SortingDirection = 'Y' THEN -ID ELSE ID END 
    
END
GO
